<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description de l'Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Description de l'Application</h1>
        <p>
            Bienvenue dans notre application de recherche d'articles scientifiques! Vous pouvez rechercher des articles 
            dans PubMed et Scholarly en utilisant des mots-clés, filtrer les résultats par année et ajouter des articles 
            à votre panier pour un accès facile ultérieur.
        </p>
        <a href="{{ url_for('login') }}" class="btn btn-primary">Commencer la recherche</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
